.top-navbar {
    border-bottom: 2px solid #cecece;
}

.side-navbar {
    border-right: 2px solid #cecece;
}

.book-section-link {
    text-align: center;
    text-decoration: none;
    color: rgb(51, 51, 51);
    padding: 0.5rem 0;
    transition: 0.2s ease-in-out;
    margin: 0 0.25rem;
    border-radius: 4px;
}

.book-section-link:hover {
    background-color: #e1e1e1;
}

.main-container {
    margin-left: 1rem;
    margin-right: 3rem;
}

.top-row-container {
    padding-bottom: 1rem;
    border-bottom: 1px solid #cecece;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    background-color: white;
    z-index: 1020;
    padding: 1rem 0;
}

.sticky-header::before,
.sticky-header::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: white;
}

.sticky-header::before {
    left: -3px;
}

.sticky-header::after {
    right: -3px;
}

.definition-edit-box {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
    box-sizing: border-box;
    white-space: pre-wrap;
    border-radius: 4px;
    border: 1px solid #cecece;
    background-color: #fafafa;
    resize: none;
    outline: none;
}

.definition-title,
.usage-title {
    font-size: 2rem;
    color: rgb(51, 51, 51);
}

.definition-card,
.usage-card {
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.figure-name {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
}

.definition-card .content {
    overflow: hidden;
    max-height: 150px;
    margin-bottom: 20px;
}

.definition-card .content.collapsed {
    max-height: 150px;
}

.definition-card .content.expanded {
    max-height: 10000px;
    width: 100%;    
}

.definition-card .toggle-indicator {
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.definition-card .edit-button,
.usage-card .edit-button {
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

