:root {
    --light-color: #F8F8EC;
    --main-color: #677A9B;
    --dark-color: #1D3F62;
}

.app-header {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding: 5px 30px;
    color: black;
    border-bottom: 2px solid var(--dark-color);
}

.app-logo {
    text-decoration: none;
    color: white;
    align-items: center;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 2.2rem;
}

.nav-item {
    margin: 0;
}

.nav-item a {
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.nav-item:hover {
    text-decoration: underline white;
    cursor: pointer;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-bar:hover {
    background-color: none;
}

.search-input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-input:focus {
    outline: 2px solid var(--dark-color);
}

.search-button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    border: 1px solid var(--dark-color);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    color: var(--dark-color);
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f1f1f1;
}

.app-logo-centered {
    display: none;
    text-align: center;
    text-decoration: none;
    color: white;
}

@media (max-width: 992px) {

    .app-logo { 
        display: none;
    }

    .app-logo-centered {
        display: block;
        font-size: 1rem;
    }

    .app-header {
        padding: 12px 30px;
        height: 50px;
    }

    .nav {
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: 0;
        left: 0;
        background-color: var(--main-color);
        text-align: left;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .nav-visible {
        max-height: 150px;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 5%;
        color: var(--dark-color);
    }

    .nav-list {
        flex-direction: column;
        margin: 0;
        padding: 0;
        right: 0;
    }

    .nav-item {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .nav-item a {
        display: block;
        padding: 10px 20px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        box-sizing: border-box;
    }

    .nav-item:hover {
        background-color: var(--dark-color);
        cursor: pointer;
    }
}
